{%- if site.home -%}
{%- assign home = site.home -%}
{%- else -%}
{%- assign home = "/" -%}
{%- endif -%}

<nav class="top-nav">
  <div class="nav-container">
    <input type="checkbox" id="nav-toggle"></input>
    <label for="nav-toggle" class="nav-hamburger">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </label>

    <a class="nav-logo" href="{{ home | absolute_url }}">
      <img src="{{ site.small_logo_path }}" alt="{{ site.title }}">
    </a>

    <div class="nav-menu">
      {%- assign titled_pages = site.html_pages | where_exp: "item", "item.title != nil" | where_exp: "item", "item.title != 404" -%}
      {%- assign nav_pages = titled_pages | where_exp: "item", "item.nav_order != nil" | sort: "nav_order" -%}

      {%- for node in nav_pages -%}
      <a href="{{ node.url | absolute_url }}" class="nav-link {% if node.title == page.title %}active{% endif %}">{{ node.title }}</a>
      {%- endfor -%}
    </div>
  </div>
</nav>
